
{% extends 'base.html' %}

{% block content %}
<form id="form">
  <div class="row pt-4">
    <div class="col"></div>
    <div class="col-4">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="User Name"
      />
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" />
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="col"></div>
  </div>
</form>
{% endblock %}

{% block script %}
<script src={{ url_for('auth.static', filename='loginUI.js')}}></script>
{% endblock %}