
{% extends "baselogin.html" %}
{% block title %}Admin Login{% endblock title%}
{% block form %}
<h2 style="text-align: center;">Admin Login</h2>
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">

    <form id="form">
        <div class="form-group">
            <input class='form-control mt-2' placeholder="username" id="username" required>
        </div>
        <div class="form-group">
            <input type="password" class='form-control mt-2' placeholder="password" id="password" required>
        </div>
        <br>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert" style="display: none">
            
        </div>
        <button type="submit" class="btn btn-info">Admin Login</button>
    </form>
</div>
<div class="col-md-4"></div>
{% endblock form%}

{% block script %}
<script src={{ url_for('static', filename='adminloginUI.js')}}></script>
{% endblock %}