{% extends 'base.html' %}
{% with type= type %}
    {% include "navbar.html" %}
{% endwith %}
{% block content %}
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-3">
      <a href="/lot/">
        <button type="button" class="btn btn-primary">Create</button>
      </a>
    </div>
    <div class="col-md-6"><input class="form-control" id="searchInput" type="text" placeholder="Search..."></div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Spots</th>
        <th scope="col">Employee</th>
      </tr>
    </thead>
    <tbody id="lotListId">
    </tbody>
  </table>
</div>

{% endblock %}


{% block script %}
<script src={{ url_for('static', filename='lotUI.js')}}></script>
{% endblock %}