
<div class="container">
    <br />
    <br />
    <div style="text-align: center;color: #007bff;">
      <h3>Make a Reservation</h3>
    </div>
  <br>
    <!-- New form for each parking lot -->
      <form id="form">
  
    <!-- Search input field with autocomplete -->
    <div class="row">
      <div class="col-md-6 mx-auto">
          <input
              class="form-control"
              id="searchInput"
              type="text"
              placeholder="Search by Location, Zipcode, or Lot Name"
              required
          />
          <ul class="dropdown-menu" id="lotListId">
          </ul>
          </div>
      </div>
      <br />
      <br />
        <div class="row">
          <div class="col-md-4">
            <label for="startTime">Start Time</label>
            <input
              type="datetime-local"
              id="startTime"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-4">
            <label for="endTime">End Time</label>
            <input
              type="datetime-local"
              id="endTime"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-4">
            <label for="totalDuration">Total Duration</label>
            <input type="text" id="totalDuration" class="form-control" readonly />
          </div>
        </div>
        <br >
        <button type="submit" class="btn btn-primary" style="margin: 0 auto; display:block;">Reserve a spot</button>
      </form>
  </div>


{% block script %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src={{ url_for('static', filename='makeResUI.js')}}></script>
  {% endblock %}