<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-11">
            <a class="navbar-brand" href="/">Parking Lots</a>
            <a class="navbar-brand" href="/cust">Customers</a> 
            <a class="navbar-brand" href="/res">Reservations</a> 
            <a class="navbar-brand" href="/log">Parking logs</a> 
            <a class="navbar-brand" href="/pay">Payments</a> 
        </div>
        <div class="col-1">
            <div class="text-right">
              <a href="/user">
                <button type="button" class="btn btn-error position-relative">
                  <img src="/static/assets/user-svgrepo-com.svg" alt="" srcset="">
                  </button> 
                </a>
            </div>
            
        </div>
      </div>
    </div>
  </nav>
