{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th sco pe="col">Pmt_ID</th>
          <th scope="col">Log_ID</th>
          <th scope="col">Cust_ID</th>
          <th scope="col">Pmt_Mode</th>
          <th scope="col">Pmt_Amt</th>
          <th scope="col">Payment_Status</th>
        </tr>
      </thead>
      <tbody id="paymentListId">
      </tbody>
    </table>
</div>

{% endblock %}


{% block script %}
<script src={{ url_for('static', filename='paymentUI.js')}}></script>
{% endblock %}