{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Res_ID</th>
            <th scope="col">Spot ID</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody id="reservationListId">
        </tbody>
      </table>
</div>

{% endblock %}


{% block script %}
<script src={{ url_for('static', filename='reservationUI.js')}}></script>
{% endblock %}