{% extends "baselogin.html" %}
{% block title %}User Signup{% endblock title%}
{% block form %}
<h2 style="text-align: center;">Sign Up</h2>


<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <form action="/signup" method="post">

            <!-- <div class="form-group">
                <input type="text" class='form-control mt-2' placeholder="Enter Customer ID" name="cid" required>
            </div> -->
            
            <div class="form-group">
                <input type="text" class='form-control mt-2' placeholder="Enter First Name" name="fname" required>
            </div>

            <div class="form-group">
                <input type="text" class='form-control mt-2' placeholder="Enter Last Name" name="lname" required>
            </div>

            <div class="form-group">
                <input type="email" class='form-control mt-2' placeholder="Enter e-mail id" name="email" required>
            </div>

            <div class="form-group">
                <input type="number" class='form-control mt-2' placeholder="Enter Phone" name="phone" required>
            </div>

            <!-- <div class="form-group">
                <input type="date" class='form-control mt-2' placeholder="Enter DOB" name="dob" required>
            </div> -->

            <div class="form-group">
                <input type="text" class='form-control mt-2' placeholder="Enter Address" name="address" required>
            </div>

            <div class="form-group">
                <input type="text" class='form-control mt-2' placeholder="Enter User Name" name="uname" required>
            </div>

            <div class="form-group">
                <input type="password" class='form-control mt-2' placeholder="Set passsword" name="password" required>
            </div>

            <br>
            <button type="submit" class="btn btn-info">Signup</button>
        </form>
        <br>
        <a class='text-bg-success' href="/userlogin">Already a user? Login</a>

    </div>

    <div class="col-md-4"></div>
</div>
{% endblock form%}